body {
    font-family: sans-serif;
    background-color: black;
    background-image: url("./assets/images/bgdot.png");
}


/* Text */
p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 13pt;
    font-weight: 400;
    margin-top: 0px;
}

h1 {
    vertical-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-size: 35pt;
    padding: 0px;
    margin: auto;
}
h2 {
    margin-bottom: 2px;
    font-size: 22pt;
    font-family: "Josefin Sans", sans-serif;
}

h3 {
    font-size: 12pt;
    margin: 5%;
}

h4 {
    margin: 0px;
}

hr {
    border-top: 2px solid black;
}

.fa {
    width: 20px;
    float:left
}

button {
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}
button:hover {
    
    background-color: rgb(209, 209, 209);
}

/* table, tr, th {
    border: 1px solid black;
} */


/* Overall container */
.MainBody {
    border-radius: 15px;
    background-color: white;
    max-width: 800px;
    min-width: 800px;
    margin: auto;
    border: 6px;
    border-style:outset;
    border-color: #D3D3D3;

}


/* Header */
#Header {
    padding: 30px;
    padding-top: 40px;
    border-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    background-color: black;
    background-clip: padding-box, content-box;
    cursor: default;
}


/* Navigation Bar */
.NavBar {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #8698A0;
    cursor: default;
}
#NavButton {
    border-radius: 10px;
    color: white;
    width: 70px;
    height: 25px;
    text-align: center;
    display: inline-block;
}
#NavButton:hover {
    background-color: #a9bec7;
}
#NavButton a {
    text-decoration: none;
    color: white;
}


/* Sidebar */
.SideBar {
    width: 220px;
    height: 694px;
    background-color: #497749;
    background-image: url("./assets/images/bgtri.png");
    border-right: 3px solid #335733;
    padding: 20px;
    color: white;
    position:absolute;
    margin-bottom: 0px;
    cursor:default;
    overflow-y: auto;
}
.SideBar a, a:visited, a:active {
    text-decoration: none;
    color: white;
}
.SideBar div {
    border-radius: 10px;;
    /* text-shadow: 1px 1px 3px #182c18; */
}
.SideBar #SideOption:hover {
    background-color: #74ad74;
}
.SideBar .sub {
    margin-left: 15px;
    font-size: 12px;
}

.RenderTile {
    width: 150px;
    display: block;
}
.RenderCaption {
    font-size: small;
    font-weight: 600;
    margin: 0px;
}
.RenderDate {
    font-size: 8pt;
    margin: 0px;
}


/* Inner Body */
.InternalBody {
    padding: 20px;
    margin-left: 250px;
    margin-bottom: 0px;
    width: 510px;
    height: 690px;
    display: inline-block;
    overflow-y: auto;
}